<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Edit Job</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <div class="container">
      <h1>Edit Job</h1>
      <div class="form-container">
        <form action="/jobs/<%= job._id %>?_method=PUT" method="POST">
          <label
            >Company:
            <input
              type="text"
              name="company"
              required
              value="<%= job.company %>" /></label
          ><br />
          <label
            >Position:
            <input
              type="text"
              name="position"
              required
              value="<%= job.position %>" /></label
          ><br />
          <label
            >Position:
            <input
              type="text"
              name="position"
              required
              value="<%= job.possibleRefOrHiringManager %>" /></label
          ><br />
          <label
            >Status:
            <input
              type="text"
              name="status"
              value="Pending"
              value="<%= job.status %>" /></label
          ><br />
          <button type="submit">Update Job</button>
        </form>
      </div>
    </div>
  </body>
</html>
